<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.flyrecord.mapper.FlyRecordMapper">
    
    <resultMap type="FlyRecord" id="FlyRecordResult">
        <result property="id"    column="id"    />
        <result property="taskId"    column="task_ID"    />
        <result property="homeLongtitude"    column="home_longtitude"    />
        <result property="homeLatittude"    column="home_latittude"    />
        <result property="sumDistance"    column="sum_distance"    />
        <result property="endLongtitude"    column="end_longtitude"    />
        <result property="altitude"    column="altitude"    />
        <result property="velocity"    column="velocity"    />
        <result property="verticalSpeed"    column="vertical_speed"    />
        <result property="taskReplay"    column="task_replay"    />
        <result property="flyDoc"    column="fly_doc"    />
        <result property="taskLine"    column="task_line"    />
        <result property="flyVideo"    column="fly_video"    />
    </resultMap>

    <sql id="selectFlyRecordVo">
        select id, task_ID, home_longtitude, home_latittude, sum_distance, end_longtitude, altitude, velocity, vertical_speed, task_replay, fly_doc, task_line, fly_video from fly_record
    </sql>

    <select id="selectFlyRecordList" parameterType="FlyRecord" resultMap="FlyRecordResult">
        <include refid="selectFlyRecordVo"/>
        <where>  
            <if test="homeLongtitude != null  and homeLongtitude != ''"> and home_longtitude = #{homeLongtitude}</if>
            <if test="homeLatittude != null  and homeLatittude != ''"> and home_latittude = #{homeLatittude}</if>
            <if test="sumDistance != null "> and sum_distance = #{sumDistance}</if>
            <if test="endLongtitude != null  and endLongtitude != ''"> and end_longtitude = #{endLongtitude}</if>
            <if test="altitude != null  and altitude != ''"> and altitude = #{altitude}</if>
            <if test="velocity != null  and velocity != ''"> and velocity = #{velocity}</if>
            <if test="verticalSpeed != null "> and vertical_speed = #{verticalSpeed}</if>
            <if test="taskReplay != null  and taskReplay != ''"> and task_replay = #{taskReplay}</if>
            <if test="flyDoc != null  and flyDoc != ''"> and fly_doc = #{flyDoc}</if>
            <if test="taskLine != null  and taskLine != ''"> and task_line = #{taskLine}</if>
            <if test="flyVideo != null  and flyVideo != ''"> and fly_video = #{flyVideo}</if>
        </where>
    </select>
    
    <select id="selectFlyRecordById" parameterType="Long" resultMap="FlyRecordResult">
        <include refid="selectFlyRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFlyRecord" parameterType="FlyRecord" useGeneratedKeys="true" keyProperty="id">
        insert into fly_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskId != null">task_ID,</if>
            <if test="homeLongtitude != null">home_longtitude,</if>
            <if test="homeLatittude != null">home_latittude,</if>
            <if test="sumDistance != null">sum_distance,</if>
            <if test="endLongtitude != null">end_longtitude,</if>
            <if test="altitude != null">altitude,</if>
            <if test="velocity != null">velocity,</if>
            <if test="verticalSpeed != null">vertical_speed,</if>
            <if test="taskReplay != null">task_replay,</if>
            <if test="flyDoc != null">fly_doc,</if>
            <if test="taskLine != null">task_line,</if>
            <if test="flyVideo != null">fly_video,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskId != null">#{taskId},</if>
            <if test="homeLongtitude != null">#{homeLongtitude},</if>
            <if test="homeLatittude != null">#{homeLatittude},</if>
            <if test="sumDistance != null">#{sumDistance},</if>
            <if test="endLongtitude != null">#{endLongtitude},</if>
            <if test="altitude != null">#{altitude},</if>
            <if test="velocity != null">#{velocity},</if>
            <if test="verticalSpeed != null">#{verticalSpeed},</if>
            <if test="taskReplay != null">#{taskReplay},</if>
            <if test="flyDoc != null">#{flyDoc},</if>
            <if test="taskLine != null">#{taskLine},</if>
            <if test="flyVideo != null">#{flyVideo},</if>
         </trim>
    </insert>

    <update id="updateFlyRecord" parameterType="FlyRecord">
        update fly_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskId != null">task_ID = #{taskId},</if>
            <if test="homeLongtitude != null">home_longtitude = #{homeLongtitude},</if>
            <if test="homeLatittude != null">home_latittude = #{homeLatittude},</if>
            <if test="sumDistance != null">sum_distance = #{sumDistance},</if>
            <if test="endLongtitude != null">end_longtitude = #{endLongtitude},</if>
            <if test="altitude != null">altitude = #{altitude},</if>
            <if test="velocity != null">velocity = #{velocity},</if>
            <if test="verticalSpeed != null">vertical_speed = #{verticalSpeed},</if>
            <if test="taskReplay != null">task_replay = #{taskReplay},</if>
            <if test="flyDoc != null">fly_doc = #{flyDoc},</if>
            <if test="taskLine != null">task_line = #{taskLine},</if>
            <if test="flyVideo != null">fly_video = #{flyVideo},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFlyRecordById" parameterType="Long">
        delete from fly_record where id = #{id}
    </delete>

    <delete id="deleteFlyRecordByIds" parameterType="String">
        delete from fly_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>