<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.missionlist.mapper.TaskListMapper">
    
    <resultMap type="TaskList" id="TaskListResult">
        <result property="taskName"    column="task_name"    />
        <result property="taskType"    column="task_type"    />
        <result property="taskTime"    column="task_time"    />
        <result property="taskDrone"    column="task_drone"    />
        <result property="endTime"    column="end_time"    />
        <result property="taskDriver"    column="task_driver"    />
        <result property="driverPhone"    column="driver_phone"    />
        <result property="id"    column="id"    />
        <result property="taskAirline"    column="task_airline"    />
        <result property="taskImages"    column="task_images"    />
        <result property="taskAddress"    column="task_address"    />
        <result property="deleteCode"    column="delete_code"    />
        <result property="extraExplain"    column="extra_explain"    />
        <result property="taskState"    column="task_state"    />
    </resultMap>

    <sql id="selectTaskListVo">
        select task_name, task_type, task_time, task_drone, end_time, task_driver, driver_phone, id, task_airline, task_images, task_address, delete_code, extra_explain, task_state from task_list
    </sql>

    <select id="selectTaskListList" parameterType="TaskList" resultMap="TaskListResult">
        <include refid="selectTaskListVo"/>
        <where>  
            <if test="taskName != null  and taskName != ''"> and task_name like concat('%', #{taskName}, '%')</if>
            <if test="taskType != null  and taskType != ''"> and task_type = #{taskType}</if>
            <if test="taskTime != null "> and task_time = #{taskTime}</if>
            <if test="taskDrone != null  and taskDrone != ''"> and task_drone REGEXP #{taskDrone}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="taskDriver != null  and taskDriver != ''"> and task_driver like concat('%', #{taskDriver}, '%')</if>
            <if test="driverPhone != null  and driverPhone != ''"> and driver_phone REGEXP #{driverPhone}</if>
            <if test="taskAirline != null  and taskAirline != ''"> and task_airline = #{taskAirline}</if>
            <if test="taskImages != null  and taskImages != ''"> and task_images = #{taskImages}</if>
            <if test="taskAddress != null  and taskAddress != ''"> and task_address = #{taskAddress}</if>
<!--            <if test="deleteCode != null "> and delete_code = #{deleteCode}</if>-->
            <if test="extraExplain != null  and extraExplain != ''"> and extra_explain = #{extraExplain}</if>
            <if test="taskState != null "> and task_state = #{taskState}</if>
             and delete_code = 0
        </where>
    </select>

    <select id="selectTaskListByPilotsId" parameterType="Long" resultType="java.lang.Long">
        select count(*) from task_list
        where task_driver = #{taskDriver} and delete_code = 0
    </select>

    <select id="selectTaskListById" parameterType="Long" resultMap="TaskListResult">
        <include refid="selectTaskListVo"/>
        where id = #{id} and delete_code = 0
    </select>

    <select id="selectTaskListByUavNumber" parameterType="String" resultType="java.lang.Long">
        select count(*) from task_list
        where task_drone = #{taskDrone} and delete_code = 0
    </select>

    <insert id="insertTaskList" parameterType="TaskList" useGeneratedKeys="true" keyProperty="id">
        insert into task_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskName != null and taskName != ''">task_name,</if>
            <if test="taskType != null and taskType != ''">task_type,</if>
            <if test="taskTime != null">task_time,</if>
            <if test="taskDrone != null and taskDrone != ''">task_drone,</if>
            <if test="endTime != null">end_time,</if>
            <if test="taskDriver != null and taskDriver != ''">task_driver,</if>
            <if test="driverPhone != null and driverPhone != ''">driver_phone,</if>
            <if test="taskAirline != null">task_airline,</if>
            <if test="taskImages != null">task_images,</if>
            <if test="taskAddress != null">task_address,</if>
            <if test="deleteCode != null">0,</if>
            <if test="extraExplain != null">extra_explain,</if>
            <if test="taskState != null">task_state,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskName != null and taskName != ''">#{taskName},</if>
            <if test="taskType != null and taskType != ''">#{taskType},</if>
            <if test="taskTime != null">#{taskTime},</if>
            <if test="taskDrone != null and taskDrone != ''">#{taskDrone},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="taskDriver != null and taskDriver != ''">#{taskDriver},</if>
            <if test="driverPhone != null and driverPhone != ''">#{driverPhone},</if>
            <if test="taskAirline != null">#{taskAirline},</if>
            <if test="taskImages != null">#{taskImages},</if>
            <if test="taskAddress != null">#{taskAddress},</if>
            <if test="deleteCode != null">0,</if>
            <if test="extraExplain != null">#{extraExplain},</if>
            <if test="taskState != null">#{taskState},</if>
         </trim>
    </insert>

    <update id="updateTaskList" parameterType="TaskList">
        update task_list
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskName != null and taskName != ''">task_name = #{taskName},</if>
            <if test="taskType != null and taskType != ''">task_type = #{taskType},</if>
            <if test="taskTime != null">task_time = #{taskTime},</if>
            <if test="taskDrone != null and taskDrone != ''">task_drone = #{taskDrone},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="taskDriver != null and taskDriver != ''">task_driver = #{taskDriver},</if>
            <if test="driverPhone != null and driverPhone != ''">driver_phone = #{driverPhone},</if>
            <if test="taskAirline != null">task_airline = #{taskAirline},</if>
            <if test="taskImages != null">task_images = #{taskImages},</if>
            <if test="taskAddress != null">task_address = #{taskAddress},</if>
            <if test="deleteCode != null">delete_code = #{deleteCode},</if>
            <if test="extraExplain != null">extra_explain = #{extraExplain},</if>
            <if test="taskState != null">task_state = #{taskState},</if>
        </trim>
        where id = #{id} and delete_code = 0
    </update>

    <update id="deleteTaskListById" parameterType="Long">
        update task_list set delete_code = 1 where id = #{id}
    </update>

    <update id="deleteTaskListByIds" parameterType="String">
        update task_list set delete_code = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
</mapper>